[data-theme='light'] {
    --btn-bg: #8958c7;
    --btn-col: #ffffff;
    --btn-hov-bg: #ffc836;
    --btn-hov-col: #000;
    --text-col: #ffffff;
}

[data-theme='dark'] {
    --btn-bg: #ffc836;
    --btn-col: #000;
    --btn-hov-bg: #fff;
    --btn-hov-col: #000;
    --text-col: #000000;
}
.happiness {
    align-items: center;
    height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 9;
}
.happiness .happiness-container {
    padding: 0 10px;
}
.happiness .happiness-container .happiness-img .happiness-left-img {
    height: 100%;
}
.happiness .happiness-container .happiness-img {
    flex: 1 1;
}

.happiness .happiness-container .happiness-intro-content {
    text-align: center;
}
.happiness .happiness-container .happiness-intro-content .section-box {
    margin: 0 auto;
    max-width: 40%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.section-box p {
    font-size: 28px;
    font-weight: 400;
    color: var(--text-col);
    margin-bottom: 3rem;
    margin-top: 1rem;
    position: relative;
}
.happiness .happiness-container .btn {
    margin-top: 2.5rem;
}
.btn.btn-primary {
    border: none;
    border-radius: 50rem;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem 4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.btn-primary {
    -moz-box-transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
    background: var(--btn-bg);
    color: var(--btn-col);
    transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
    -webkit-transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
}
.btn-primary:hover {
    background: var(--btn-hov-bg);
    color: var(--btn-hov-col);
}

.happiness .happiness-container .happiness-img.happiness-right-img .shineImage img {
    width: 100%;
}
.happiness .happiness-container .happiness-img .ballonImag {
    left: 5%;
    position: absolute;
    top: 5%;
    width: 20%;
    z-index: 9;
}
.happiness .happiness-container .happiness-img .ballonImag img {
    width: 100%;
}
.happiness .happiness-container .happiness-img .smokeImage {
    left: 9%;
    position: absolute;
    top: -2%;
    width: 12%;
}
.happiness .happiness-container .happiness-img .smokeImage img {
    width: 100%;
}
.happiness .happiness-container .happiness-img.happiness-right-img .shineImage {
    position: absolute;
    right: 24%;
    top: 6%;
    width: 7%;
}
.happiness .happiness-container .happiness-img.happiness-right-img .kiteImg {
    position: absolute;
    right: 5%;
    top: 40%;
    width: 17%;
}
.happiness .happiness-container .happiness-img.happiness-right-img .kiteImg img {
    width: 100%;
}
.happiness .happiness-wave .wave {
    bottom: 0;
    left: -10%;
    position: absolute;
    width: 64%;
}
@media only screen and (max-width: 30em) {
    .happiness .happiness-container .happiness-img .ballonImag {
        left: -4%;
        top: 20%;
        width: 20%;
    }
    .happiness .happiness-container .happiness-img .smokeImage {
        left: -4%;
        top: 20%;
        width: 20%;
    }
    .happiness .happiness-container .happiness-img.happiness-right-img .shineImage {
        right: 10%;
        top: 12%;
        width: 13%;
    }
}

@media only screen and (max-width: 500px) {
    .happiness .happiness-container .happiness-intro-content .section-box {
        max-width: 280px;
    }
    .happiness-intro-content .section-box p{
        font-size: 20px;
    }
}
    @media only screen and (max-width: 760px) {
        .happiness {
            height: auto;
            padding: 150px 0;
        }
        .happiness .happiness-container .happiness-img.happiness-right-img .kiteImg {
            right:5%;
            top:auto;
            width:17%;
        }
        .happiness .happiness-wave .wave {
            bottom:1%;
            left: -54%;
            width: 94%;
        }
    }